<!-- <article>
  <section>
    <div>
      <table class="table w-full h-6 rounded-sm text-center">
        <thead>
          <tr>
            <th *ngFor="let column of displayedColumns">{{ column }}</th>
          </tr>
        </thead>
        <tbody class="bg-gray-100">
          <tr *ngFor="let element of dataSource; let i = index" (click)="onSelectDetail(element, i)" class="cursor-pointer hover:bg-gray-200">
            <span>{{element.idServicioNavigation.nombre}}</span>
            <span>{{element.detalleServicio}}</span>
            <span>{{element.idSucursalNavigation.nombre}}</span>
            <span>{{element.cantidadServicios}}</span>
            <span>{{element.total}}</span>
            <span >
              <button (click)="onDeleteDetailCotizacion(element, i)">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </span>
             <td *ngFor="let value of getOrderedData(element)">
              <span *ngIf="value !== ''">{{ value }}</span>
              <span *ngIf="value === ''">
                <button (click)="onDeleteDetailCotizacion(element, i)">
                  <mat-icon color="warn">delete</mat-icon>
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</article> -->
<article>
  <section>
    <div>
      <table class="table w-full h-6 rounded-sm text-center">
        <thead>
          <tr>
            <th *ngFor="let column of displayedColumns">{{ column }}</th>
          </tr>
        </thead>
        <tbody class="bg-gray-100">
          <tr *ngFor="let element of dataSource; let i = index" (click)="onSelectDetail(element, i)" class="cursor-pointer hover:bg-gray-200">
            <td>{{element.idServicioNavigation.nombre}}</td>
            <td>{{element.detalleServicio}}</td>
            <td>{{element.idSucursalNavigation.nombre}}</td>
            <td>{{element.cantidadServicios}}</td>
            <td>{{element.total}}</td>
            <td>
              <button (click)="onDeleteDetailCotizacion(element, i); $event.stopPropagation()">
                <mat-icon color="warn">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</article>
