<article>
  <section>
    <button class="flex items-center justify-center gap-2 p-1 mt-5 bg-azulColvi rounded text-white" [disabled]="!getDisabledState()" [ngClass]="!  getDisabledState() ? 'bg-gris':''" (click)="openNewDetail()" ><mat-icon class="text-base">add</mat-icon> <span class="text-sm pr-1">Agregar detalle</span></button>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" >
        <ng-container matColumnDef="servicio">
          <th mat-header-cell *matHeaderCellDef> Servicio </th>
          <td mat-cell *matCellDef="let element"> {{element.idServicioNavigation.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripción </th>
          <td mat-cell *matCellDef="let element"> {{element.detalleServicio}} </td>
        </ng-container>


        <ng-container matColumnDef="sucursal">
          <th mat-header-cell *matHeaderCellDef> Sucursal </th>
          <td mat-cell *matCellDef="let element"> {{element.idSucursalNavigation.nombre}} </td>
        </ng-container>


        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let element"> {{element.cantidadServicios}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element"> {{element.total | currency:'COP':'symbol-narrow':'1.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rows cursor-pointer border-2 hover:border-slate-400" (click)="onSelectDetail(row)" ></tr>
      </table>
    </div>
  </section>
  <section>

  </section>
  <section>

  </section>
</article>
