.nav{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}


.nav-tabs{
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item{
  margin-bottom: -1px;
  border-bottom: 1px solid #f8f8f8e7;

}

.nav-tabs .nav-item:hover{
  margin-bottom: -1px;
  border: 1px solid #f8f8f8e7;

}

/* .nav-tabs .nav-item:hover{
  border: 1px solid #dee2e6;
} */


.nav-tabs .nav-link{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* .nav-tabs .nav-link:hover{
  border: 1px solid #f8f8f8e7;
} */

.active{
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid transparent !important;

}

.nav-link{
  display: block;
  padding: 0.5rem 1rem;
}
