<div class="flex flex-row">
  @if (onlyCreate) {
    <button class="flex items-center justify-center mx-5 gap-2 p-2 pr-4 bg-azulColvi rounded text-white">
      <mat-icon class="icon-buttons">add</mat-icon>
      <span>Crear</span>
    </button>
  }@else {
    <button class="flex items-center justify-center mx-5 gap-2 p-2 pr-4 bg-azulColvi rounded text-white">
      <mat-icon class="icon-buttons">add</mat-icon>
      <span>Crear</span>
    </button>
    <button class="flex items-center justify-center gap-2 p-2 ml-5 bg-azulColvi rounded text-white">
      <mat-icon class="icon-buttons">edit</mat-icon>
      <span>Editar</span>
    </button>
  }
</div>
