@if (getLoading()) {
  <mat-card-header>
    <mat-progress-bar mode="indeterminate" color="bg-blue-500"></mat-progress-bar>
  </mat-card-header>
}
@if(getNewCotizacionState()){
  <mat-card-header class="p-10">
    <crm-create-and-edit-button [typeButtons]="3" ></crm-create-and-edit-button>
  </mat-card-header>
}
<crm-cotizacion-state [estado]="cotizacionByIdValue?.estado ?? 2 " [numeroCotizacion]="cotizacionByIdValue?.numeroDocumento === undefined ? 00001 : cotizacionByIdValue?.numeroDocumento" (estadoChanged)="estadoChanged($event)"
  [isDisabled]="!getDisabledState()"></crm-cotizacion-state>
<article *ngIf="getNewCotizacionState()">
  <label for="titulo" class="mr-5">Nombre Cotización</label>
  <input type="text" id="titulo" [(ngModel)]="nombreNewCotizacion" class="border border border-azulColvi w-96 rounded-sm p-1" (change)="changeNameCotizacion()">
</article>
<section class="flex">
  <div class="mt-10 mr-5 mb-5 ">
    <p class="block pb-5">Cliente</p>
    <p class="block pb-5">Vendedor</p>
    <p class="block ">Expiración</p>
  </div>
  <div class="mt-9 relative" #selectContainer>
    <input [(ngModel)]="busquedaCliente" (click)="this.mostrarList = 1;" class="p-1 rounded-sm block mb-6 w-80"
      [disabled]="!getDisabledState()" [ngClass]="getDisabledState()? 'bg-white border border-azulColvi rounded-sm':''">
    <select size="5" [(ngModel)]="clienteSeleccionado" *ngIf="mostrarList === 1" (change)="seleccionarCampo(true)"
      class="bg-white w-80 absolute top-8 truncate border-2 rounded border-inputBg mi-select">
      <option [value]="0">Seleccionar un campo</option>
      <option *ngFor="let cliente of clienteList | filterCotizacion: busquedaCliente" [value]="cliente.idCliente">
        {{cliente.nombreCompleto}}</option>
    </select>
    <input list="lista-clientes" (click)="this.mostrarList = 2;" [(ngModel)]="busquedaUsuario"
      class=" p-1 rounded-sm block mb-6 w-80 " [disabled]="!getDisabledState()"
      [ngClass]="getDisabledState()? 'bg-white border border-azulColvi rounded-sm':''">
    <select size="5" [(ngModel)]="usuarioSeleccionado" *ngIf="mostrarList === 2" (change)="seleccionarCampo(false)"
      class="bg-white w-80 absolute top-20 truncate border-2 rounded border-inputBg mi-select">
      <option [value]="0">Seleccionar un campo</option>
      <option *ngFor="let usuario of usuarioList | filterCotizacion: busquedaUsuario" [value]="usuario.idUsuario">
        {{usuario.nombreCompleto}}</option>
    </select>
    <input type="datetime-local" [disabled]="!getDisabledState()" [(ngModel)]="expirationDate"
      (ngModelChange)="onFechaSeleccionada()" required>

  </div>
</section>
<crm-horizontal-menu></crm-horizontal-menu>
<crm-button-add-detail></crm-button-add-detail>
<crm-lista-detalle-cotizacion [dataList]="detalleCotizacionList" [displayedColumns]="columnsOfDetalleCotizacion"></crm-lista-detalle-cotizacion>
<div class="grid grid-col-4 mt-20">
  <div class="w-full col-start-4">
    <div class="flex flex-row">
      <p class="pr-5">Impuestos:</p>
      <p>{{cotizacionByIdValue?.valorIva === undefined ? 0 : cotizacionByIdValue?.valorIva | currency:'COP':'symbol-narrow':'1.2-2' }}</p>
    </div>
    <mat-divider>
    </mat-divider>
    <div class="flex flex-row mt-5">
      <p class="pr-5 ">Total:</p>
      <p> {{cotizacionByIdValue?.total === undefined ? 0 : cotizacionByIdValue?.total | currency:'COP':'symbol-narrow':'1.2-2' }} </p>
    </div>
  </div>
</div>
