<div class="mt-5 ml-5 text-grisText text-xs flex flex-row">
  <button class="flex items-center justify-center  p-2 border border-gris rounded text-grisText rounded hover:bg-grisBg"
    (click)="showFilterMenu()"><mat-icon>filter_alt</mat-icon><span class="ml-2">Filtrar</span></button>
  <button
    class="flex items-center justify-center  p-2 border border-gris rounded text-grisText ml-5 rounded hover:bg-grisBg"
    (click)="showGroupMenu()"><mat-icon>reorder</mat-icon><span class="ml-2">Agrupar</span></button>
</div>
<ul *ngIf="filterclick" class="fixed border border-gris bg-white  w-40 ml-5 z-40 dropdown text-grisText">
  <li *ngFor="let item of menuItemsFilter; let i = index" (click)="onTermSelect(item.item, i)"
    class="cursor-pointer  hover:bg-grisBg py-1 items-center flex"><mat-icon *ngIf="mostrarSVG !== i"
      class="ml-1 text"></mat-icon> <mat-icon *ngIf="mostrarSVG === i" class="ml-1"> {{item.svg}}</mat-icon> <a
      class="texto-item no-select"> {{item.item}} </a></li>
</ul>
<ul *ngIf="gruopClick" class="fixed border border-gris bg-white w-40 z-40 dropdown text-grisText marginGroup">
  <li *ngFor="let item of menuGroupItems; let i = index" (click)="onTermSelect(item.item, i)"
    class="cursor-pointer  hover:bg-grisBg py-1 items-center flex"><mat-icon *ngIf="mostrarSVG !== i"
      class="ml-1 text"></mat-icon> <mat-icon *ngIf="mostrarSVG === i" class="ml-1"> {{item.svg}}</mat-icon> <a
      class="texto-item no-select"> {{item.item}} </a></li>
</ul>
