.container{
  width: 30rem;
  height: 17rem;
  padding : 3rem;

}

.form{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  gap: 5px;
}

.buttonsPosition{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
}

.title{
  font-size: xx-large;
  color: #777777;
  margin-bottom: 30px;
}
