<div class="bg-[url('https://cvsccomc.site/images-shared/fondoLoginPage.png')] bg-cover bg-center h-screen w-screen flex flex-col justify-center items-center">
    <crm-login-component class="w-1/4" ></crm-login-component>
    <section class="bg-white w-1/4 rounded mt-4 shadow-lg relative transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer" >
      <img src="https://cvsccomc.site/images-shared/keySvg.svg" alt="keyLogo" class="w-5 absolute mt-3.5 ml-4">
      <p class="w-full pt-3 pl-12 text-azulColvi ">Opciones de inicio de sesión</p>
    </section>
</div>
