/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container {
  color: red;
  /* Cambiar el color del texto a rojo */
}

:root {
  --azulOscuro: '#02032';
  --azulMar: '#003057';
  --azulColvi: '#004A98';
  --azulCielo: '#004A98';
  --rojo: '#B12028';
  --gris: '#B0B0B0';
  --grisText: '#777777';
}
